BODY {
    FONT: 16PX/28PX ARIAL, SANS-SERIF;
    BACKGROUND-COLOR: white;
    COLOR: black;
    BACKGROUND-IMAGE: URL(../img/th.jpg);
    }
    .CONTAINER {
    WIDTH: 800PX;
    MARGIN: AUTO;
    BACKGROUND-COLOR: pink;
    }
    .HEADER {
    PADDING: 20PX;
    PADDING-BOTTOM: 10PX;
    }
    .HEADER .JUDUL {
    FONT-SIZE: 40PX;
    FONT-WEIGHT: BOLD;
    }
    .NAV {
    BACKGROUND-COLOR: brown;
    HEIGHT: 30PX;
    }
    .NAV UL LI {
    DISPLAY: INLINE-BLOCK;
    MARGIN-TOP: 0PX;
    MARGIN-RIGHT: 10PX;
    }
    .NAV A {
    TEXT-DECORATION: NONE;
    COLOR: rgb(244, 245, 241);
    PADDING: 5PX;
    }
    .NAV A:HOVER {
    BACKGROUND-COLOR: red;
    COLOR: WHITE;
    }
    .GAMBAR {
    HEIGHT: 290PX;
    BACKGROUND-IMAGE: URL("../img/cute.jpg");
    BACKGROUND-SIZE: COVER;
    BACKGROUND-POSITION: 0 -50PX;
    BORDER-TOP: 5PX SOLID brown;
    BORDER-BOTTOM: 3PX SOLID brown;
    }
    .CONTEN {
    PADDING: 20PX;
    }
    .CONTEN H2 {
    FONT-SIZE: 28PX;
    FONT-WEIGHT: BOLD;
    }
    .CONTEN P {
    MARGIN-TOP: 20PX;
    FONT-SIZE: 14PX;
    }
    .FOOTER {
    BACKGROUND-COLOR: brown;
    PADDING: 5PX;
    }
    .FOOTER .COPY {
    COLOR: #EAEAEA;
    TEXT-ALIGN: CENTER;
    FONT: 12PX;
    }

    

    